In [2]:
class Human:
    pass

# Tworzenie klasy

In [21]:
class Human:
    # Konstruktor
    
    def __init__(self, name, surname, weight):
        self.name = name 
        self.surname = surname
        self.weight=weight
        self.sex = 'female'
        self.merital_status='single'

In [22]:
Ania = Human ('Ania', 'Nowak', 45)

In [23]:
Ania.name

'Ania'

In [24]:
Ania.surname

'Nowak'

In [25]:
ania.weight

NameError: name 'ania' is not defined

In [26]:
Ania.weight

45

In [27]:
Ania.sex

'female'

In [28]:
Ania.merital_status

'single'

In [29]:
Ania.__dict__

{'merital_status': 'single',
 'name': 'Ania',
 'sex': 'female',
 'surname': 'Nowak',
 'weight': 45}

In [30]:
type(Ania.__dict__)

dict

In [32]:
dir(Ania)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'merital_status',
 'name',
 'sex',
 'surname',
 'weight']

In [34]:
del Ania.merital_status

In [35]:
Ania.__dict__

{'name': 'Ania', 'sex': 'female', 'surname': 'Nowak', 'weight': 45}

In [48]:
class Human:
    # Atrybuty klasowe
    species = 'homo-sapiens'
    
    def __init__(self, name, surname, weight, sex):
        self.name = name 
        self.surname = surname
        self.weight=weight
        self.sex = sex
        self.merital_status='single'

In [49]:
eva = Human('Ewa','Novak',54,'F')

In [50]:
eva.species

'homo-sapiens'

In [51]:
eva.sex

'F'

In [52]:
adam=Human('Adam','Nowak',81,'M')

In [53]:
adam.sex

'M'

In [54]:
adam.weight

81

In [55]:
adam.species

'homo-sapiens'

In [63]:
class Human:
    # Atrybuty klasowe
    species = 'homo-sapiens'
    
    def __init__(self, name, surname, weight, sex):
        self.name = name 
        self.surname = surname
        self.weight=weight
        self.sex = sex
        self.merital_status='single'
    def say_hello(self):
        print("Hello I am {} {} my sex is {}".format(self.name, self.surname, self.sex))

In [64]:
adam=Human('Adam','Nowak',81,'male')

In [65]:
adam.say_hello()

Hello I am Adam Nowak my sex is male

In [149]:
class Human:
    # Atrybuty klasowe
    species = 'homo-sapiens'
    
    def __init__(self, name, surname, weight, sex):
        self.name = name 
        self.surname = surname
        self.weight=weight
        self.sex = sex
        self.merital_status='single'
    def say_hello(self):
        print("Hello I am {name} {surname} my sex is {sex}".format(
        name =self.name,
        surname=self.surname,
        sex=self.sex)
             )

In [150]:
adam=Human('Adam','Nowak',81,'male')

In [151]:
adam.say_hello()

Hello I am Adam Nowak my sex is male

# Properties

In [90]:
class Human:
    # Atrybuty klasowe
    species = 'homo-sapiens'
    
    def __init__(self, name, surname, weight, sex):
        self.name = name 
        self.surname = surname
        self.weight=weight
        self.sex = sex
        self.merital_status='single'
    def say_hello(self):
        print("Hello I am {name} {surname} my sex is {sex}".format(
        name =self.name,
        surname=self.surname,
        sex=self.sex)
             )
    
    def like_bond_name(self):
        return "{surname}, {name} {surname}".format (surname=self.surname, name=self.name)

In [91]:
adam=Human('Adam','Nowak',81,'male')

In [92]:
adam.like_bond_name()

'Nowak, Adam Nowak'

In [93]:
class Human:
    # Atrybuty klasowe
    species = 'homo-sapiens'
    
    def __init__(self, name, surname, weight, sex):
        self.name = name 
        self.surname = surname
        self.weight=weight
        self.sex = sex
        self.merital_status='single'
    def say_hello(self):
        print("Hello I am {name} {surname} my sex is {sex}".format(
        name =self.name,
        surname=self.surname,
        sex=self.sex)
             )
    @property
    def like_bond_name(self):
        return "{surname}, {name} {surname}".format (surname=self.surname, name=self.name)

In [94]:
adam=Human('Adam','Nowak',81,'male')

In [95]:
adam.like_bond_name

'Nowak, Adam Nowak'

# Metody specjalne

In [96]:
adam

In [97]:
str(adam)

'<__main__.Human object at 0x7f3f54080438>'

In [146]:
class Human:
    # Atrybuty klasowe
    species = 'homo-sapiens'
    
    def __init__(self, name, surname, weight, sex):
        self.name = name 
        self.surname = surname
        self.weight=weight
        self.sex = sex
        self.merital_status='single'
    def say_hello(self):
        print("Hello I am {name} {surname} my sex is {sex}".format(
        name =self.name,
        surname=self.surname,
        sex=self.sex)
             )
    @property
    def like_bond_name(self):
        return "{surname}, {name} {surname}".format (surname=self.surname, name=self.name)
    
    def __str__(self):
        return self.like_bond_name

In [147]:
adam=Human('Adam','Nowak',81,'male')

In [148]:
str(adam)

'Nowak, Adam Nowak'

In [101]:
print(adam)

Nowak, Adam Nowak

In [274]:
class Car:
    # Atrybuty klasowe
    kolory =['pink','blue','red','silver','black','green','blue','yellow','white']
    
    def __init__(self, name, brand, engine, consumption, milage, color=None):
        self.name = name 
        self.brand = brand
        self.engine=engine
        self.consumption = consumption
        self.milage=milage
        if color == None:
            self.color= random.choice(Car.kolory)
        else:
            self.color =  color
    
    def say_car(self):
        print("I have {name} {brand} with {engine} with milage {milage} km in {color}".format(
        name =self.name,
        brand = self.brand,
        engine=self.engine,
        milage=self.milage,
        color=self.color)
             )
    @property
    def parametry(self):
        return "{brand}, {engine}, {milage}".format (brand=self.brand, engine=self.engine, milage=self.milage)
    
    def __str__(self):
        return self.parametry

In [275]:
WV=Car('vw','golf',1.0,7,85000)

In [276]:
renault=Car('renault','clio',1.2,6,185000,'black')

In [277]:
nissan=Car('nissan','micra',1.4,7,90000)

In [278]:
nissan.color

'pink'

In [279]:
WV.color

'green'

In [280]:
WV.color

'green'

In [251]:
WV.say_car()

I have vw golf with 1.0 with milage 85000 km in blue

In [257]:
renault.say_car()

I have renault clio with 1.2 with milage 185000 km in black

In [258]:
print(WV)

golf, 1.0, 85000

In [188]:
str(renault)

'clio, 1.2, 185000'

In [156]:
type(Car.__dict__)

mappingproxy

In [157]:
dir(Car)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'say_car',
 'species']

In [189]:
WV.say_car()

I have vw golf with 1.0 with milage 85000 km in silver

In [220]:
import random

1l=0.26galonu

# ZADANIE HUAMAN CLASS

In [281]:
class Human:
   
    # "Constructor" below
    def __init__(self, weight, height):
        self.weight = weight
        self.height = height

In [284]:
 adam=Human(81,180)

In [285]:
adam.__dict__

{'height': 180, 'weight': 81}

In [286]:
adam=Human(81,180)
tomek=(91,190)

In [310]:
class Human:
    unique_id = 1
   
    # "Constructor" below
    def __init__(self, name, weight, height):
        self.name = name
        self.weight = weight
        self.height = height
        self.unique_id=Human.unique_id
        Human.unique_id += 1

In [311]:
adam = Human('adam',81,180)
tomek = Human('tomek',91,190)

In [312]:
adam.unique_id, tomek.unique_id

(1, 2)

In [313]:
import Faker

ModuleNotFoundError: No module named 'Faker'

In [315]:
from faker import Faker

ModuleNotFoundError: No module named 'faker'

In [316]:
!pip install Faker

Collecting Faker
  Downloading https://files.pythonhosted.org/packages/d9/eb/6d13451769976f79c9043db562da22302a2c3d96e5d6427e8517fec9d2e5/Faker-0.9.2-py2.py3-none-any.whl (766kB)
    100% |████████████████████████████████| 768kB 1.4MB/s ta 0:00:011   34% |███████████▏                    | 266kB 2.3MB/s eta 0:00:01
Requirement already satisfied: six>=1.10 in /home/kodolamacz/anaconda3/lib/python3.6/site-packages (from Faker)
Requirement already satisfied: python-dateutil>=2.4 in /home/kodolamacz/anaconda3/lib/python3.6/site-packages (from Faker)
Collecting text-unidecode==1.2 (from Faker)
  Downloading https://files.pythonhosted.org/packages/79/42/d717cc2b4520fb09e45b344b1b0b4e81aa672001dd128c180fabc655c341/text_unidecode-1.2-py2.py3-none-any.whl (77kB)
    100% |████████████████████████████████| 81kB 3.2MB/s ta 0:00:01
Installing collected packages: text-unidecode, Faker
Successfully installed Faker-0.9.2 text-unidecode-1.2
You are using pip version 9.0.1, however version 18.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [343]:
from faker import Faker
fake = Faker('pl_PL')

fake.name()

'pani Angelika Waloszek'

In [350]:
list_of_humans = [ Human(fake.name(), fake.random_int(55,100), fake.random_int(150,210)) for i in range(10)]

In [354]:
class Human:
    unique_id = 1
   
    # "Constructor" below
    def __init__(self, name, weight, height):
        self.name = name
        self.weight = weight
        self.height = height
        self.unique_id=Human.unique_id
        Human.unique_id += 1
    def __repr__ (self):
        return '{} with name: {}'. format(self.__class__, self.name)

In [355]:
type(list_of_humans)

list

In [356]:
type(list_of_humans[0])

__main__.Human

In [357]:
list_of_humans

[<__main__.Human at 0x7f3f45fce160>,
 <__main__.Human at 0x7f3f45fce198>,
 <__main__.Human at 0x7f3f45fce1d0>,
 <__main__.Human at 0x7f3f45fce208>,
 <__main__.Human at 0x7f3f45fce278>,
 <__main__.Human at 0x7f3f45fce2b0>,
 <__main__.Human at 0x7f3f45fce2e8>,
 <__main__.Human at 0x7f3f45fce320>,
 <__main__.Human at 0x7f3f45fce3c8>,
 <__main__.Human at 0x7f3f45fce400>]

In [ ]:
def say_hello(self):
        print('Hello I\'m {}'.format(self.name))
        
    @property
    def full_name(self):
        return "{name} {surname}".format(name=self.name, surname=self.surname)
    
    def __str__(self):
        return self.full_name
    
    def __repr__(self):
        return '{class_name} with full name: {full_name}'.format(class_name=self.__class__, full_name=self.full_name)
    
    def bmi(w,m):
    return w/(m**2)